{%extends 'account/account_base.html'%}
{% load static %}


{%block head_title%}Login{%endblock%}


{%block body%}
    
    
    <section class="second-section mt-5">
        <div class="container">
            
            <form method="POST">
                {% csrf_token %}
                <h3>Login Numismática</h3>
                <div class="input-container">
                    {{ form }}
                    
                </div>
                <button type="submit" class='btn btn-primary mt-4'>Entrar</button>
            </form>

            <p class="footer">
                <a href="{% url 'account_signup' %}" class="footer-text">Não tem uma conta?  <span class="yellow-color"> Cadastre-se</span>
</a>
            </p>
        </div>
    </section>
{%endblock%}

