{% extends "base.html" %}


{% block head_title %}Redefinir Senha{% endblock %}

{% block body %}

    <h1>Alterar Senha</h1>

    <p>Esqueceu sua senha? Insira seu email e enviaremos um email para redefinição de senha</p>

    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Alterar Senha" />
    </form>

    <p>Please contact us if you have any trouble resetting your password.</p>
{% endblock %}