
{%extends 'account/account_base.html'%}
{% load static %}


{%block head_title%}Cadastro{%endblock%}


{%block body%}
    
    
    <section class="second-section mt-5">
        <div class="container">

            <form method="POST">
                <h3>Cadastro Numismática</h3>
                <div class="input-container">
                    {% csrf_token %}
                    {{ form.as_p }}
                </div>

                <button type="submit" class='btn btn-primary'>Cadastrar</button>
            </form>

            <p class="footer">
                <a href="{% url 'account_login' %}" class="footer-text">Já possui uma conta? <span class="yellow-color"> Faça login</span>
                </a>
            </p>
        </div>
    </section>
{%endblock%}
