.body{
    /* background-color: blue;
    color: aqua; */

    margin: 15px;

}

/* .navbar-nav{
    display: flex !important ;
    align-items: flex-end !important;

} */

/* .navbar{
    background-color: antiquewhite;
} */